<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <title>Eurodance.com.br</title>

    <!-- stylesheet -->
    <%= stylesheet_link_tag 'pages/' + path_assets %>

    <!-- javascript: head -->
    <script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
  </head>

  <body class="<%= page_classes %>" ng-app="eurodancecombr">

    <nav class="euro-menu">
      <ul>
        <li><a href="#">Artistas</a></li>
        <li><a href="#">Podcasts</a></li>
        <li><a href="#">Lugares</a></li>
      </ul>
    </nav>

    <div class="content" ng-class="{open: openMenu}">
      <%= partial "modules/shared/player" %>
      <%= partial "modules/shared/header" %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pages/' + path_assets %>

  </body>
</html>